<figure style="float: right; padding: 10px">
    <img width="300" height="278" src="/assets/Pic.jpg" alt="This is me" />
    <figcaption>Credit: <a href="https://www.instagram.com/avital_berry">
            Avital Berry</a></figcaption>
</figure>

<h1>Louis Jaburi</h1>

<p>
    I graduated as a PhD student at Imperial College under the supervision of <a
        href="https://wwwf.imperial.ac.uk/~acaraian/">Ana
        Caraiani</a> in 2024.
</p>

<p>
    I worked on arithmetic geometry, representation theory and number theory. In particular, this includes the
    p-adic
    geometry of
    Shimura varieties, and Emerton-Gee stacks.
</p>

<p>
    I am now working on various flavours and shapes of AI safety with focus on interpretability, theory of deep
    learning, training dynamics.
</p>


<p></p>
<strong>News and Updates:</strong>
<ul>
    <li>February 2025: Check out our <a href="https://www.lesswrong.com/posts/oRKemL989qyQ6KZTB/ambiguous-out-of-distribution-generalization-on-an
            ">new blog post</a> exploring complexity, (hierarchial) generalization, and its relationship with
        various empirical metrics.</li>
    <li>October 2024: <a href="https://arxiv.org/abs/2410.07476">New paper</a> on rigorous mechanistic interpretability
        on toy models.</li>
</ul>
</p>