<figure style="float: right; padding: 10px">
    <img width="300" height="278" src="/assets/Pic.jpg" alt="This is me" />
    <figcaption>Credit: <a href="https://www.instagram.com/avital_berry">
            Avital Berry</a></figcaption>
</figure>

<h1>Louis Jaburi</h1>

<p>
    I recently graduated as a PhD student at Imperial College under the supervision of <a
        href="https://wwwf.imperial.ac.uk/~acaraian/">Ana
        Caraiani</a>.
</p>

<p>
    I worked on arithmetic geometry, representation theory and number theory. In particular, this includes the
    p-adic
    geometry of
    Shimura varieties, and Emerton-Gee stacks.
</p>

<p>
    I am transitioning to work on various aspects of machine learning.
    Particular interests include: interpretability, AI safety, theory of deep learning, machine learning for
    automated
    theorem
    proving. See my latest work <a href="https://arxiv.org/abs/2410.07476">here</a>!
    You can find more information on my <a href="/assets/CV_Louis_Jaburi.pdf" target="_blank"> CV</a>.
</p>