<footer>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          contact me:
          <br><br>
          address:
          <address>
            &nbsp;&nbsp;room 1.002<br>
            &nbsp;&nbsp;Mathematical Institute<br>
            &nbsp;&nbsp;University of Bonn<br>
            &nbsp;&nbsp;Endenicher Allee 60<br>
            &nbsp;&nbsp;53115 Bonn
          </address>
        </div>
  
        <div class="footer-col footer-col-3">
          I maintain
          you can also find me on
        </div>
      </div>
    </div>
  </footer>