<footer class="site-footer">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          contact me: 
          <br>
          &nbsp;&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
  
        <div class="footer-col footer-col-3">

          {% comment %} 
          you can also find me on
          <ul class="social-media-list">
            <li>{% include icon-github.html username="louis" %} 
            <li>{% include icon-twitter.html username="louis" %}
            <li>{% include icon-mathoverflow.html username="louis" id="666" %}
          </ul>
          {% endcomment %}
        </div>
      </div>
    </div>
  </footer>